.App {
  /* background-color: #f7f7fe; */
  /* z-index: -1; */
  /* position: relative; */
}

.footer {
  margin-top: 1rem;
  padding: 0.09rem;
  /* height: 10%; */
  background-color: #333b3f;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
}

.scrollTop {
  position: fixed;
  width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  /* margin-left: 40em; */
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
